<%# BLACK INFO BAR %>
<div class="">
  <div class="container-fluid mt-8 nwdl-bg-black text-white nwdl-footer p-0">
    <div class="container-xl py-3">
      <div class="row justify-content-center justify-content-md-between">
        <div class="col-12 col-sm-9 col-md-4 py-3">
          <%= current_account.content.html :main_address %>
        </div>

        <div class="col-12 col-sm-9 col-md-4 py-3">
          <%= current_account.content.html :main_contact %>
        </div>

        <div class="col-12 col-sm-9 col-md-4 py-3 d-flex justify-content-center">
          <%= current_account.content.image_tag(:logo, {}, {class: "nwdl-logo"}) %>
        </div>
      </div>
    </div>
  </div>

  <%# WHITE NAVIGATION BAR %>
  <nav class="navbar navbar-expand-md navbar-dark nwdl-bg-grey">
    <div class="container-xl">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <% nav = Spina::Navigation.find_by(name: 'footer') %>
        <% items = nav.navigation_items.regular_pages.sorted.live.in_menu.active %>

        <% items.each_with_index do |item, index| %>
          <% if item.page.materialized_path %>
            <li class="nav-item">
              <%= link_to item.page.menu_title, item.page.materialized_path, class: "nav-link active #{"ps-0" if index == 0}" %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
