<div class="mt-12">
  <h2 class="block text-lg leading-5 font-medium text-gray-700"><%= f.object.title %></h2>
  <p><%= f.object.hint %></p>
</div>
<div class="border-t border-gray-200 mt-2 mb-0"></div>
