<form class="mt-5" action="https://newworkdesignlab.us10.list-manage.com/subscribe/post?u=615acdb4c64a5d898c9f1bfb4&amp;id=e6d1d6d622" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
  <div class="mb-3">
    <label class="block text-sm" for="mce-EMAIL"><%= I18n.t('static.email') %></label>
    <input class="block w-full" type="email" value="" name="EMAIL" id="mce-EMAIL">
  </div>

  <div class="mb-3">
    <label class="block text-sm" for="mce-FNAME"><%= I18n.t('static.first_name') %></label>
    <input class="block w-full" type="text" value="" name="FNAME" id="mce-FNAME">
  </div>

  <div class="mb-5">
    <label class="block text-sm" for="mce-LNAME"><%= I18n.t('static.last_name') %></label>
    <input class="block w-full" type="text" value="" name="LNAME" id="mce-LNAME">
  </div>

  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input type="text" name="b_615acdb4c64a5d898c9f1bfb4_e6d1d6d622" tabindex="-1" value="">
  </div>

  <input type="submit" value="<%= I18n.t('static.signin') %>" name="subscribe" id="mc-embedded-subscribe" class="btn btn-nwdl">

  <!--
  <p class="brandingLogo"><a href="http://eepurl.com/hYcINL" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
  -->

</form>
