<div class="container max-w-screen-xl mx-auto px-4 mt-28">
  <div class="nwdl-uppercase-header nwdl-high-contrast">
    <h1 class="!normal-case"><%= current_page.title %></h1>
  </div>
  <%= yield %>
</div>
