
.nwdl-bg-blue-light {
  background-color: #E1EBF3;
}
.nwdl-bg-blue-middle {
  background-color: #C0DAF3;
}
.nwdl-bg-blue-dark {
  background-color: #86AED5;
}
.nwdl-bg-orange-light {
  background-color: #F6CA46;
}
.nwdl-bg-orange-dark {
  background-color: #EF9C20;
}
.nwdl-bg-grey {
  background-color: #272727;
}
.nwdl-bg-grey-light {
  background-color: #d0d0d0;
}
.nwdl-bg-black {
  background-color: #000000;
}
