<% if display_lables.present? %>
  <div class="flex content-start overflow-hidden gap-1 p-2 -translate-y-1/2 -mb-5">
    <% colors = ["nwdl-bg-blue-light", "nwdl-bg-blue-middle", "nwdl-bg-blue-dark"]%>
    <% display_lables.each do |display_lable| %>
      <span class="text-sm font-medium mr-2 px-2.5 py-0.5 rounded whitespace-nowrap <%= colors.sample %>">
        <%= display_lable.title %>
      </span>
    <% end %>
  </div>
<% end %>
