<nav class="navbar fixed-top navbar-expand-xl navbar-dark bg-dark">
  <div class="container-xl">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= current_account.content.image_tag(:logo, {}, {class: "nwdl-logo"}) %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggle-target" aria-controls="toggle-target" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="toggle-target">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% nav = Spina::Navigation.find_by(name: 'main') %>
        <% items = nav.navigation_items.regular_pages.sorted.live.in_menu.active %>

        <% items.each do |item| %>
          <% if item.page.materialized_path %>
            <li class="nav-item">
              <% classes = [].tap do |out| %>
                <% out << "nav-link" %>
                <% if current_page.name == "legal" || current_page.name == "data" || item.page.name == current_page.name || item.page.name == current_page.resource&.name %>
                  <% out << "active" %>
                <% end %>
              <% end %>
              <%= link_to item.page.menu_title, item.page.materialized_path, class: classes.join(' ') %>
            </li>
          <% end %>
        <% end %>

        <%# Language Toggle %>
        <% existing_locales = current_page.translations.pluck(:locale).map(&:to_sym) %>
        <% current_locale = params[:locale]&.to_sym || I18n.default_locale&.to_sym %>
        <% existing_locales.each do |locale| %>
          <% if locale != current_locale %>
            <li class="nav-item ms-4">
              <%= link_to t("spina.languages.#{locale}"), current_page.materialized_path(locale: locale), class: "nav-link active" %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
