
<% resources ||= Spina::Resource.find_by(name: resource_name)&.pages.live %>
<% if resources&.present? %>
  <% resources.each do |resource| %>
    <% if resource.present? && resource.find_part(:thumbnail)&.content.present? && resource.find_part(:summary)&.content.present? %>
      <%= yield(resource) %>
    <% end %>
  <% end %>
<% elsif (nil_message ||= nil).present? %>
  <p><%= nil_message %></p>
<% end %>
