
<% resources ||= Spina::Resource.find_by(name: resource_name)&.pages.live %>
<% if resources&.present? %>
  <% resources.each do |resource| %>
    <% if resource.present? && resource.find_part(:thumbnail)&.content.present? && resource.find_part(:subheading)&.content.present? %>
      <%= yield(resource) %>
    <% end %>
  <% end %>
<% else %>
  <p>Leider ist hier noch nichts zu sehen.</p>
<% end %>
