<%= render 'nwdl/shared/default_page' do %>
  <div class="nwdl-rich-content-wrapper">
    <%= content.html :rich_content %>
  </div>
<% end %>

<%# NEWSLETTER %>
<%= render 'nwdl/shared/newsletter' %>
