<%= render 'nwdl/shared/resource/index' do %>

  <%# IMAGE GEAR %>
  <% content_for :image_title do %>
    <div class="project-gear index-background"><%= render 'nwdl/shared/images/zahnrad' %></div>
  <% end %>

  <%# PRESENTER SELF %>
  <% content_for :presenter_content do %>
    <%= render 'nwdl/shared/resource/iterator', resource_name: $spina_events, nil_message: "Leider ist hier noch nichts zu sehen.", classes: "row g-4 mt-4 justify-content-center overflow-hidden" do |resource| %>
      <%= render 'nwdl/shared/resource/resource_timeline', resource: resource %>
    <% end %>
  <% end %>

<% end %>
