<%= render 'nwdl/shared/resource/index' do %>

  <%# PRESENTER SELF %>
  <% content_for :presenter_content do %>
    <%# IMAGE PERSON SITZEND %>
    <div class="relative flex flex-wrap justify-center">
      <div class="absolute person-sitzend -z-10"><%= render 'nwdl/shared/images/person_sitzend' %></div>
    </div>

    <%# PRESENTER CONTENT %>
    <%= render 'nwdl/shared/resource/iterator', resource_name: $spina_employees, classes: "grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-3", nil_message: I18n.t('static.no_content') do |resource| %>
      <%= render 'nwdl/shared/resource/resource_quatric', resource: resource %>
    <% end %>
  <% end %>

<% end %>
