<div class="nwdl-page-container mt-7">
  <div class="container-xl nwdl-content">
    <div class="nwdl-uppercase-header">
      <h1><%= current_page.title %></h1>
    </div>

    <div class="row g-3 mt-3 mb-10 justify-content-center justify-content-md-start">
      <% projects = Spina::Resource.find_by(name: "projects").pages %>
      <% projects.each do |project| %>
        <% if project.present? && project.find_part(:thumbnail)&.content.present? %>
          <div class="col-12 col-sm-7 col-md-4">
            <%= link_to project.materialized_path do %>
              <%= project.content.image_tag(:thumbnail, {}, {class: "nwdl-cachel-img"}) %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <%# NEWSLETTER %>
    <%= render 'nwdl/shared/newsletter' %>

  </div>
</div>
